{% extends 'AvroCsvBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Import {{ alias | title }}s</h1>
    </div>
    <form class="form-horizontal" action="{{ path('avro_csv_import_mapping', {'alias': alias}) }}" method="post" {{ form_enctype(form) }}>
        <div id="error-container"></div>
        <div class="form-content">
            {{ form_row(form.delimiter) }}
            {{ form_row(form.dateFormat) }}
            {{ form_row(form.file) }}
            {{ form_row(form.filename) }}
            {{ form_widget(form._token) }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-arrow-right icon-white"></i> Next</button>
        </div>
    </form>
{% endblock %}
